div.scrollmenu {

  overflow: auto;
  white-space: nowrap;
   margin-bottom: -20px !important;
  
  
}

div.scrollmenu div {
  display: inline-block;
  //color: white;
  text-align: center;
  text-decoration: none;
 
}
.card{
    display: flex !important;
}

.margen{
    text-justify: left;
    text-align: left;
}

.pos1{
    float: left !important;
}

.pos2{
    float: right !important;
}

.pos3{
    margin: 2px;
}


.asize{
    font-size: 18px !important;
    color:rgb(121, 104, 9);
    
}

.jumbotron p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron h1{
    
    font-family: cursive;
    font: bold;
     border-bottom: 5px solid rgb(121, 104, 9);
    

}

.top1{
    
    margin-top:35px;
    margin-bottom: auto;
    background-color: white;
}

body{
    background-color: black;
}

.navbar{
background-color: rgb(121, 104, 9);
}

.scro{
   
    margin-bottom: 25px !important;
}

.scro1{
    margin-top: -25px !important;
    margin-bottom: 25px !important;
}
.pers{
margin-top: 20px;
color: White;
margin-bottom: 10px !important;
font-family: cursive;
    font: bold;
}

.plane{
    margin-top: 50px !important;
    color: White;
    margin-bottom: -10px !important;
    font-family: cursive;
    font: bold;
}