div.scrollmenu {

  overflow: auto;
  white-space: nowrap;
   margin-bottom: -20px !important;
  
  
}

div.scrollmenu div {
  display: inline-block;
  //color: white;
  text-align: center;
  text-decoration: none;
 
}
.card{
    display: flex !important;
}

.margen{
    text-justify: left;
    text-align: left;
}



